@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:"Paperlogy", -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes spin-slow {
  from { transform: translateX(-50%) rotate(0deg); }
  to { transform: translateX(-50%) rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 120s linear infinite;
}

.moon-img {
  left: 50%;
  transform: translateX(-50%);
  width: min(500px, 100%);
  aspect-ratio: 1;
  top: calc(min(500px, 100vw) / -2);
}